﻿@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; }
body { margin: 0; padding: 0; background: #fff; font-family: "微软雅黑", Arial, "Arial Black", serif; font-size: 0.9em; line-height: 2em; color: #595959; }
ul, li { list-style: none; }
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 { margin: 0; }
a { text-decoration: none; color: #595959; }

html { background: #fff; font-size: 100%; }

h1 { font-size: 1.5em; }
img, object { border: none; -ms-interpolation-mode: bicubic; vertical-align: middle; }

.bank { display: block; }
.fd { float: left; }
.juz { text-align: center; }
.j_right { margin-right: 15px; }


.s1 { font-size: 1.9rem; }
.s2 { color: #ff8790; }
.s3 { color: #ed5e6f; }
.s4 { font-size: 1.2rem; }
.s5 { font-size: 16px; }
.bold { font-weight: bold; }

.font1 { color: #d94874; }
.font2 { color: #959292; }
.font3 { color: #FFFFFF; }
.font4 { color: #424242; }
.font5 { color: #593028; }
.font6 { color: #999999; }
.font7 { color: #ffff00; }

.c1 { width: 1200px; margin: 0 auto; padding: 50px 0 50px 0; overflow: hidden; }
.c2 { width: 100%; }
