﻿
.g_upfile { display: inline-block; }
.g_upfile > p { color: #666; font-size: 12px; }
.g_upfile > p .progress { display: inline-block; width: 70px; height: 14px; border: 1px solid #5cf; border-radius: 3px; line-height: 1em; }
.g_upfile > p .progress .p { display: inline-block; width: 0; height: 100%; background: #5cf; }
.g_upfile > p .progress .t { position: absolute; font-size: 10px; }


.g_page { clear: both; overflow: hidden; }
.g_page > p.tip { display: none; font-size: 12px; }
