﻿@charset "utf-8";
/* CSS Document */
/* Header styles
================================================== */
.navbar-header { background-color: rgba(255,255,255,0.7); }
.top-nav-collapse { padding: 0px; background: #fff !important; padding: 4px 0 0 0 !important; margin: 0px; margin: -9px auto; border-bottom: 1px solid #d5d5d5 !important; }
.navbar { padding-top: 80px; letter-spacing: 1px; background: 0 0; }
/**/

.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }

.navbar-static-top { z-index: 1000; border-width: 0 0 1px; }

.navbar-fixed-top,
.navbar-fixed-bottom { position: fixed; right: 0; left: 0; z-index: 1030; }

.navbar-fixed-top { top: 0; border-width: 0 0 1px; }
.navbar-fixed-bottom { bottom: 0; margin-bottom: 0; border-width: 1px 0 0; }
.navbar-brand { float: left; height: 20px; font-size: 18px; line-height: 20px; }

.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }


.navbar-nav { float: left; margin: 0; }
.navbar-nav > li { float: left; }
.navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
.navbar-nav.navbar-right:last-child { margin-right: -15px; }





/* Intro Top content styles
================================================== */
.top { background: url(../img/top_bg.jpg) repeat-x; height: 87px; }

#top { width: 100%; height: 100px; background: #fff; z-index: 1100; top: 0px; box-shadow: 0 1px 0 rgba(0,0,0,0.05); -webkit-transition: 0.2s ease-in 0s; -moz-transition: 0.2s ease-in 0s; -ms-transition: 0.1s ease-in 0s; -o-transition: 0.2s ease-in 0s; }
.header { width: 1200px; margin: 0 auto; text-align: left; line-height: 80px; height: 100px; }
.logo { padding-top: 10px; }
.logo img { float: left; width:60px; height:60px; padding:10px; }
.menu { float: right; }
.menu li { float: left; padding-left: 70px; line-height: 100px; }

.pinzhi { float: left; width: 390px; }
.pinzhi li.d1 { height: 102px; background: #ff90a2; color: #FFFFFF; padding: 30px; }
.pinzhi .pic { width: 390px; height: 229px; overflow: hidden; }
.pinzhi li img { cursor: pointer; transition: all 0.6s; }
.pinzhi li img:hover { transform: scale(1.1); }


/*产品中心*/
.cp { width: 100%; background: url(../img/cp_bg.jpg); margin-bottom: 0px; }
.cp_fl { width: 1200px; margin: 0 auto; overflow: hidden; margin-bottom: 30px; }
.cp_fl li { float: left; text-align: center; padding-left: 140px; }
.cpzx { width: 1200px; margin: 0 auto; }
.cpzx_bt { text-align: center; padding-bottom: 40px; }
.cpzx_bt img { padding-bottom: 20px; }
.cpzx_nr { width: 1200px; margin: 20px auto; overflow: hidden; padding-bottom: 50px; }
.cpzx_pic img { -webkit-border-radius: 50%; background-color: rgba(255,255,255,0.7); padding: 10px; width: 370px; }
.cpzx_pic img:hover { -webkit-border-radius: 10%; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; }

.cpzx_pic span { display: block; margin: 40px auto; width: 224px; text-align: center; color: #fff; background: url(../img/cp_1.png); line-height: 46px; }
.cpzx_nr li { float: left; }


/*新闻中心*/
.xwzx { width: 1200px; margin: 0 auto; overflow: hidden; padding-bottom: 60px; }
.xw_bt { text-align: center; padding-bottom: 60px; }
.xw_nr { width: 1200px; }
.xw_nr span { width: 584px; }
.xw_l { float: left; width: 536px; padding: 30px 30px 0 50px; height: 273px; }
.xw_l hr { background: #e2e2e2; border: none; height: 1px; margin: 10px 0px; }
.xw_2 { float: left; width: 536px; padding: 30px 50px 0 30px; }
.xw_2 hr { background: #e2e2e2; border: none; height: 1px; margin: 10px 0px; }
.xw_more { width: 90px; padding: 0 5px; margin-top: 30px; text-align: center; line-height: 27px; font-size: 12px; -webkit-border-radius: 30px; background: #ff8bbc; }
.xw_more:hover { background: #ff8798; }

/*新闻详情*/
.show_bt { text-align: center; padding: 30px 0; }
.show_bt .sj { border-top: solid 1px #dcdcdc; margin-top: 35px; padding-top: 15px; color: #999999; }


/*关于我们*/
.gywm { background: url(../img/gywm.jpg); width: 100%; height: 618px; }
.gy_bt { width: 1200px; margin: 0 auto; text-align: center; }
.gy_nr { width: 50%; margin: 0.1% 25%; background: #ed5e6f; color: #ffffff; padding: 20px; }

/*在线预订*/
.yu_bt { margin: 0 auto; width: 1200px; text-align: center; }
.yu_nr img { float: left; }
.yu_right { float: left; margin-left: 50px; width: 550px; }
.yu_xm li { float: left; }
.yu_more { width: 90px; margin: 20px auto 0 auto; padding: 0 20px; text-align: center; line-height: 40px; -webkit-border-radius: 30px; background: #ff90a2; cursor: pointer; }

.txt { width: 275px; border-bottom: 1px solid #ffccce; border-left: none; border-right: none; border-top: none; line-height: 25px; }
.txt1 { border-bottom: 1px solid #ffccce; border-left: none; border-right: none; border-top: none; width: 550px; line-height: 25px; }

/*底部*/
.foot { width: 100%; background: url(../img/f_bg.jpg) repeat-x; height: 168px; margin-top: 0px; text-align: center; color: #FFFFFF; padding-top: 60px; }
.foot a{color: #FFFFFF;}
.foot hr { background: #ffccce; height: 1px; border: none; width: 60%; margin: 10px auto; }

.drwz { border-bottom: 1px solid #e5e6e8; height: 60px; margin: 30px 0; line-height: 57px; }
.dr { width: 1200px; margin: 0 auto; }
.drwz_l { float: left; }
.drwz_l li { float: left; padding: 0 20px; }
.drwz_r { float: right; color: #999999; }
.gl { border-bottom: 2px solid #ff8f98; }


/*在线预订*/
.ban_yd { background: url(../img/yd.jpg) no-repeat; height: 540px; }
.yd_nr { background: url(../img/yd_bg.jpg) center top; height: 916px; width: 100%; padding-bottom: 50px; }
.yd_jz { margin: 0 auto; width: 700px; padding: 200px 0 0 200px; }
.yd_bd { background: #f3a6b4; color: #fff; padding: 50px; }
.yd_k { padding-right: 50px; }
.yd_bd li { padding: 15px; }
.txt2 { line-height: 30px; border: none; width: 450px; }

/*联系我们内页*/
.lxwm { overflow: hidden; }
.lxwm_1 { float: left; text-align: center; width: 398px; }
.lxwm_1 img { padding-bottom: 20px; }
.lxwm_1 hr { width: 40px; height: 1px; background: #bfbfbf; border: none; margin: 10px auto; }
.lxwm_2 { float: left; text-align: center; width: 398px; padding-bottom: 20px; background: url(../img/dh_1.jpg) no-repeat center top; padding-top: 77px; }
.lxwm_2:hover { background: url(../img/dh_2.jpg) no-repeat center top; }
.lxwm_2 hr { width: 40px; height: 1px; background: #bfbfbf; border: none; margin: 10px auto; }
.lxwm_3 { float: left; text-align: center; width: 398px; padding-bottom: 20px; background: url(../img/zx_1.jpg) no-repeat center top; padding-top: 77px; }
.lxwm_3:hover { background: url(../img/zx_2.jpg) no-repeat center top; }
.lxwm_3 hr { width: 40px; height: 1px; background: #bfbfbf; border: none; margin: 10px auto; }
.ybk { border-right: solid 1px #e5e5e5; }
.map { padding-top: 50px; padding-left: 35px; }

/*新闻中心内页*/
.news { margin-bottom: 40px; }
.news_1 { width: 1200px; margin: 0 auto; overflow: hidden; padding: 50px; }
.n_l { float: left; width: 395px; text-align: center; }
.n_r { float: left; width: 750px; padding: 30px 0 20px 30px; }
.news_2 { width: 100%; background: #ffc7d0; margin-bottom: 40px; }
.news_nr { width: 1200px; margin: 0 auto; padding-top: 50px; overflow: hidden; }
.news_nr li { float: left; width: 100%; margin-bottom: 60px; }
.new_1 { float: left; width: 580px; background: #fff; padding: 24px 0; }
.new_1 img { float: left; width: 202px; }
.new_1 span { margin: 20px 20px 0 20px; float: left; width: 338px; }
.new_jj { margin-right: 40px; }
/*分页*/
.pagnation { text-align: center; margin-top: 32px; }
.pagnation a { display: inline-block; width: 34px; height: 34px; line-height: 34px; overflow: hidden; background: url(../img/sprite.png) no-repeat 0 -29px; margin-left: 4px; font-size: 16px; vertical-align: top; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }
.pagnation a:hover { background-position: 0 -64px; color: #fff; text-decoration: none; }
.pagnation .page-prev, .pagnation .page-next { line-height: 555px; }
.pagnation .page-prev { background-position: -35px -29px; }
.pagnation .page-prev:hover { background-position: -35px -64px; }
.pagnation .page-next { background-position: -70px -29px; }
.pagnation .page-next:hover { background-position: -70px -64px; }
.pagnation .current { background-position: 0px -64px; color: #fff; }
.pagnation-tips { margin-top: 10px; color: #999; text-align: center; }


/*关于我们内页*/
.guanyu { width: 1200px; margin: 0 auto; text-align: center; overflow: hidden; }
.g_bt { width: 1200px; text-align: center; margin-top: 50px; margin-bottom: 10px; }
.g_bt hr { width: 54px; height: 2px; background: #e6e6e6; border: none; margin: 20px auto; }
.g_n { width: 80%; margin: 0 auto; overflow: hidden; }
.g_n li { float: left; padding: 0 80px; }
.g_r { width: 1000px; margin: 50px 100px; text-align: left; }

.shipin { background: url(../img/sp.jpg); height: 629px; text-align: center; margin-bottom: 50px; padding-top: 105px; }

.Box { position: relative; background: #fafafa; padding-bottom: 50px; }
.Box .content { width: 1200px; margin: 0 auto; text-align: center; }
.content hr { width: 54px; height: 2px; background: #e6e6e6; border: none; margin: 20px auto 20px auto; }
.Box h2 { text-align: center; padding-top: 25px; }
.Box .Box_con { position: relative; padding-top: 40px; }
.Box .Box_con .btnl { position: absolute; background-image: url(../img/jtl02.png); }
.Box .Box_con .btn { display: block; width: 41px; height: 41px; position: absolute; top: 115px; cursor: pointer; }
.Box .Box_con .btnl { background: url(../img/jtl02.png) no-repeat center; left: -72px; }
.Box .Box_con .btnr { background: url(../img/jtr02.png) no-repeat center; right: -72px; }
.Box .Box_con .btnl:hover { background: url(../img/jtl03.png) no-repeat center; }
.Box .Box_con .btnr:hover { background: url(../img/jtr03.png) no-repeat center; }
.Box .Box_con .conbox { position: relative; overflow: hidden; }
.Box .Box_con .conbox ul { position: relative; list-style: none; }
.Box .Box_con .conbox ul li { float: left; width: 379px; height: 230px; margin-left: 21px; overflow: hidden; }
.Box .Box_con .conbox ul li:first-child { margin-left: 0; }
.Box .Box_con .conbox ul li img { display: block; width: 379px; height: 230px; transition: all 0.5s; }
.Box .Box_con .conbox ul li:hover img { transform: scale(1.1); }
/* 发展历程 */
.fzlc { width: 1200px; margin: 0 auto 50px auto; overflow: hidden; }
/* 时间轴样式 */
.course_nr { height: 120px; background: url(../img/ico9.gif) repeat-x center; }
.course_nr li { float: left; background: url(../img/ico10.gif) no-repeat center top; padding-top: 28px; width: 200px; text-align: center; position: relative; margin-top: 38px; }
.shiji { position: absolute; width: 100%; left: 0; top: -20px; display: none; }
.shiji h1 { height: 67px; line-height: 67px; color: #ed5e6f; font-size: 18px; background: url(../img/ico11.gif) no-repeat center top; margin-bottom: 1px; }
.shiji p { line-height: 14px; color: #999; padding: 5px; }


/*产品中心内页*/
.ban_yd1 { background: url(../img/cp_ban.jpg) no-repeat; height: 540px; }
.cp_top { overflow: hidden; margin: 50px 0; border: solid 1px #ffa6c5; border-right: none; border-left: none; color: #FFFFFF; }
.cp_l { float: left; width: 20%; padding-left: 20%; background: #ffa6c5; height: 370px; padding-top: 150px; line-height: 50px; }
.cp_r { float: left; background: #fff; width: 59%; }
.cp_ny { margin: 10px auto; width: 600px; text-align: center; border: 1px solid #ffa6c5; -webkit-border-radius: 30px; overflow: hidden; }
.cp_ny li { float: left; line-height: 40px; padding: 0 10px; margin-left: 25px; }
/*-----------------------------分页 start--------------------------------*/
.next1{width: 100%;height: auto;overflow: hidden;text-align: center;}
.next1 ul{display: inline-block;}
.next1 ul li{display: inline-block;}
.next1 a{display: inline-block;border: 1px solid #ebebeb;color: #999;width: 30px;height: 30px;line-height: 30px;margin: 0 4px;overflow: hidden;}
.next1 a.on1,.next1 a:hover{background: #aa2423;color: #fff;border: 1px solid #aa2423;}
/*--------------------分页 end----------------------*/