{include file="public/layout" /}
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <a class="back" href="{:url('Channeltype/index')}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>模型管理</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="{:url('Channeltype/index')}" class="tab {eq name='$Request.controller' value='Channeltype'}current{/eq}"><span>编辑模型</span></a></li>
                {notin name="$field.nid" value="guestbook"}
                <li><a href="{:url('Field/channel_index', array('channel_id'=>$field.id))}" class="tab {eq name='$Request.controller' value='Field'}current{/eq}"><span>内容字段</span></a></li>
                {/notin}
            </ul>
        </div>
    </div>
    <form class="form-horizontal" id="post_form" action="{:url('Channeltype/edit')}" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>模型名称</label>
                </dt>
                <dd class="opt">
                    {eq name="$field.ifsystem" value="1"}
                    {$field.title|default=''}
                    {else /}
                    <input type="text" name="title" value="{$field.title|default=''}" id="title" class="input-txt">
                    {/eq}
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="nid">模型标识</label>
                </dt>
                <dd class="opt">
                    {$field.nid}
                    <input type="hidden" name="nid" value="{$field.nid|default=''}">
                    <span class="err"></span>
                    <p class="">与文档的模板相关连，建议由小写字母、数字组成，因为部份Unix系统无法识别中文文件。<br/>列表模板是：lists_模型标识.htm<br/>文档模板是：view_模型标识.htm</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>文档标题重复</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="is_repeat_title1" class="cb-enable {if condition='!isset($field.is_repeat_title) || $field.is_repeat_title eq 1'}selected{/if}">允许</label>
                        <label for="is_repeat_title0" class="cb-disable {if condition='isset($field.is_repeat_title) && $field.is_repeat_title eq 0'}selected{/if}">不允许</label>
                        <input id="is_repeat_title1" name="is_repeat_title" value="1" type="radio" {if condition="!isset($field.is_repeat_title) || $field.is_repeat_title eq 1"} checked="checked"{/if}>
                        <input id="is_repeat_title0" name="is_repeat_title" value="0" type="radio" {if condition="isset($field.is_repeat_title) && $field.is_repeat_title eq 0"} checked="checked"{/if}>
                    </div>
                    <p class="notic">新增/编辑文档时，是否允许标题的重复</p>
                </dd>
            </dl>
            {eq name='$field.nid' value='article'}
                <dl class="row">
                    <dt class="tit">
                        <label>缩略图用于会员投稿</label>
                    </dt>
                    <dd class="opt">
                        <div class="onoff">
                            <label for="is_litpic_users_release1" class="cb-enable {if condition='!isset($field.is_litpic_users_release) || $field.is_litpic_users_release eq 1'}selected{/if}">允许</label>
                            <label for="is_litpic_users_release0" class="cb-disable {if condition='isset($field.is_litpic_users_release) && $field.is_litpic_users_release eq 0'}selected{/if}">不允许</label>
                            <input id="is_litpic_users_release1" name="is_litpic_users_release" value="1" type="radio" {if condition="!isset($field.is_litpic_users_release) || $field.is_litpic_users_release eq 1"} checked="checked"{/if}>
                            <input id="is_litpic_users_release0" name="is_litpic_users_release" value="0" type="radio" {if condition="isset($field.is_litpic_users_release) && $field.is_litpic_users_release eq 0"} checked="checked"{/if}>
                        </div>
                        <p class="notic">会员投稿时，是否允许填写缩略图选项</p>
                    </dd>
                </dl>
            {/eq}
            <div class="bot">
                <input type="hidden" name="id" value="{$field.id}">
                <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // 判断输入框是否为空
    function checkForm(){
        {neq name="$field.ifsystem" value="1"}
        if($.trim($('input[name=title]').val()) == ''){
            showErrorMsg('模型名称不能为空！');
            $('input[name=title]').focus();
            return false;
        }
        {/neq}
        layer_loading('正在处理');
        $('#post_form').submit();
    }
</script>
{include file="public/footer" /}