{include file="public/layout" /}
<body class="bodystyle" style="cursor: default; -moz-user-select: inherit; min-width:400px;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width: 400px;">
    {foreach name="list" item="vo" key="k" }
    <div style="display: flex;align-items: center;padding: 15px 0;">
        <div style="width: 10%;min-width: 60px;"><strong>{$vo.attr_name}</strong></div>
        <div style="width: 90%;">{$vo.attr_value}</div>
    </div>
    {/foreach}
</div>

{include file="public/footer" /}