
<!-- 官方内置样式表，升级会覆盖变动，请勿修改，否则后果自负 -->

<style>
    .panel-default .panel-heading strong{border-bottom: 2px solid {$theme_color};color: {$theme_color};}
    .panel-default .panel-heading span{color:{$theme_color}}
    .btn-primary{background: {$theme_color} !important; border:1px solid {$theme_color} !important}
    .btn-primary:hover,.btn-primary:focus,.btn-primary:active{background: {$theme_color} !important;}
    .ey-head .user-info .breadcrumb a{ color:{$theme_color};}
    .reg .header{background-color: {$theme_color}; }
    .radio-primary input[type=radio]:checked+label::before{border-color: {$theme_color};}
    .checkbox-primary input[type=radio]:checked+label::before, .checkbox-primary input[type=checkbox]:checked+label::before{border-color: {$theme_color}; background:{$theme_color}}
    a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover{background: {$theme_color};}
    footer.container a{ color:{$theme_color}  }
    input.form-control:hover,input.form-control:active,input.form-control:focus,input.input-txt:hover,input.input-txt:active,input.input-txt:focus{border-color:{$theme_color};outline:none }
    .hamburger.is-closed .hamb-top,.hamburger.is-closed .hamb-middle,.hamburger.is-closed .hamb-bottom,.hamburger.is-open .hamb-bottom,.hamburger.is-open .hamb-top{background:{$theme_color}}
    .btn-outline.btn-success{color: {$theme_color};border-color: {$theme_color};}
    .btn-outline.btn-success.active, .btn-outline.btn-success:active, .btn-outline.btn-success:focus, .btn-outline.btn-success:hover, .open>.btn-outline.btn-success.dropdown-toggle {border-color:{$theme_color};background-color:{$theme_color};}
    .list-group-item a{ text-align:center; padding-left:0; }
    .panel-heading span.fr a{ color:{$theme_color};}
    .shop .shop-order-top .ting h4{color:{$theme_color};}
    .shop .shop-order-top .ting .price{color:{$theme_color};}
    .shop-address li.selected a.addr-list{border: 1px solid {$theme_color}}
</style>

<script type="text/javascript">
    var __root_dir__ = "__ROOT_DIR__";
    var __version__ = "{$version}";
</script>