﻿/* eyoucms.com 易优CMS -- 好用,免费,安全 */
@charset "utf-8";
/* CSS Document */
.topbox{ background:#fff;}

/* 导航 */
.menu{ background-color:#ff8790ba;}
.menu li{ background-color:#ff8790ba;}
.menu li a{ color:#fff; border-bottom:1px solid rgba(255,255,255,0.3);}
.menu li a:hover{ color:#000; background:#eaff56; border-bottom:1px solid #eaff56;}

.menubg{ background-color:rgba(0,0,0,0.5);}

/* banner */
.banner .hd ul li{ background:#fff;}
.banner .hd ul .on{ background:#fdd000;}

/* 标题 */
.b-tit h1{ color:#f5f5f5;}
.b-tit h2{ color:#333333;}
.h-tit h1{ color:#ececec;}
.h-tit h2{ color:#333333;}
.cpxl{ background:#ececec;}
.cpxr{ background:#ececec;}

/* 更多 */
.more:hover .qq{ border:1px double #c8c8c8;}
.us-more:hover .qq{ border:1px double #c8c8c8;}

/* 产品 */
.cpbox{ background:#fff;}
.fl li a{color:#fff; background:#ff8790; border-top:1px solid #ececec; border-bottom:1px solid #ececec;}
.fl li a:hover{ color:#fff; background:#ef6ea8; border-top:1px solid #ef6ea8; border-bottom:1px solid #ef6ea8;}
.cpcc li:hover a{ color:#fff; background:#ef6ea8;}

/* 简介 */
.usbox{ background:#f8f8f8;}
.ustu{ background:#00bc12;}
.ustu-l-wz{ background:#bddd22;}
.ustu-l-wz h1{ color:#fff;}
.ustu-l-wz h2{ color:#fff;}
.ustu-r-wz{ background:#9ed900;}
.ustu-r-wz h1{ color:#fff;}
.ustu-r-wz h2{ color:#fff;}

/* 新闻动态 */
.newsbox{ background:#fff;}
.newscc li{ background:#f8f8f8;}
.newscc li .title h1{ color:#000;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.newscc li:hover .title h1{ color:#fff;}
.newscc li:hover .title{ background:#00bc12;}
.newscc li .title .rq{ color:#8c8c8c;}
.newscc li:hover .title .rq{ color:#fff;}

/* 案例 */
.albox{ background:#f8f8f8;}
.alcc li:hover a{ color:#fff; background:#00bc12;}

/* 底部 */
.copyright{ background:#383838; color:#fff;}
.foot{ background:#ff8790;}
.foot li a { color:#fff;}

/* 内页 */
.ntit{ background-color:rgba(0,0,0,0.2);}
.ntt h1{ color:#fff;}
.ntt i{ color:rgba(255,255,255,0.5);}

.nfl{ background:#f8f8f8; border-bottom:1px solid #ececec;}
.nfl a{ background:#fff; border:1px solid #ececec;}
.nfl a:hover,.nfl a.on{ color:#fff; background:#ef6ea8; border:1px solid #ef6ea8;}

.nrwz{ color:#585858;}

.fy{ background:#f8f8f8; border-top:1px solid #ececec;}

.page{ background:#f8f8f8; border-top:1px solid #ececec;}
.page a{ color:#fff; background:#585858;}
.page a:hover{ color:#fff; background:#00bc12;}

.x-tit{ color:#8e8e8e; border-bottom:1px dashed #cecece;}
.x-tit h1{ color:#000;}

.n-news li{ background:#f8f8f8; border:1px solid #f8f8f8;}
.n-news li:hover{ background-color:rgba(0,188,18,0.05); border:1px dashed rgba(0,188,18,0.3);}
.n-news li .newz{ color:#585858;}
.n-news li a .newz h1{ color:#000;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.n-news li .newz h2{ color:#8e8e8e;}