﻿/* eyoucms.com 易优CMS -- 好用,免费,安全 */
@charset "utf-8";
/* CSS Document */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin:0; padding:0; border:0; font:inherit; vertical-align:baseline; word-wrap:break-word;}
table { border-collapse:collapse; border-spacing:0;}
button, input, select, textarea { outline:0; -webkit-box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
li, ol, ul {list-style:none;}
img { max-width:100%; vertical-align:top; border:0; -ms-interpolation-mode:bicubic; -webkit-touch-callout:none;}
:focus { outline:0}
a {	color:#333; text-decoration:none;}
a.active { color:#06c;}

body{ max-width:750px; min-width:320px; margin:0 auto;}

/* 头部 */
.topbox{ width:7.5rem; position:fixed; z-index:200;}
.menubg{ position:fixed; width:100%; height:100%; top:0; display:none; z-index:100;}

.mm{ width:1rem; position:absolute; top:0; right:0;}
.mm img{ width:100%;}

.logo{ width:6.5rem; height:1rem; overflow:hidden;}
.logo img{ width:100%;}

/* 导航 */
.menu{ width:50%; position:fixed; height:100%; right:50px; padding:1rem 0 0 0; display:none; top:0; z-index:500;}
.menu li{ font-size:.28rem; text-align:center; line-height:1rem; display:block;}
.menu li a{ display:block; width:100%;}

/* banner */
.banner{ max-width:750px; height:3.31rem; position:relative; padding:1rem 0 0 0; overflow:hidden;}
.banner .hd{ width:100%; height:0.2rem;  position:absolute; z-index:1; left:3.6rem; bottom:0;}
.banner .hd ul{ display:block;}
.banner .hd ul li{ font-size:0; width:0.1rem; height:0.1rem; line-height:0.1rem; text-align:center; margin:0 0.1rem 0 0; -webkit-border-radius:0.1rem; -moz-border-radius:0.1rem; border-radius:0.1rem; float:left; overflow:hidden;}
.banner .bd{ position:relative; z-index:0;}
.banner .bd li img{ width:100%; height:3.31rem;}
.banner .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}

/* 标题 */
.b-tit{ width:4rem; text-align:center; line-height:0.7rem; padding:0.37rem 0 0 0; position:relative; margin:0 auto;}
.b-tit h1{ font-size:.7rem;}
.b-tit h2{ width:100%; font-size:.35rem; font-weight:normal; position:absolute; left:0; bottom:0;}

.h-tit{ width:4rem; text-align:center; line-height:0.7rem; padding:0.37rem 0 0 0; position:relative; margin:0 auto;}
.h-tit h1{ font-size:.6rem;}
.h-tit h2{ width:100%; font-size:.35rem; font-weight:normal; position:absolute; left:0; bottom:0;}

.cpxl{ width:1.82rem; height:1px; position:absolute; left:-1.75rem; bottom:0.19rem;}
.cpxr{ width:1.82rem; height:1px; position:absolute; right:-1.75rem; bottom:0.19rem;}

/* 更多 */
.more{ width:0.82rem; height:0.82rem; overflow:hidden; text-align:center; position:relative; margin:0 auto;}
.more img{ width:100%;}
.more a{ position:relative; margin:0.2rem; display:block; z-index:100;}
.more:hover .qq{ content:""; position:absolute; display:block; width:0.6rem; height:0.6rem; border-radius:50%; -webkit-animation:bounce-circle 1.8s infinite; animation:bounce-circle 1.8s infinite; animation-delay:0s; box-sizing:border-box; left:0.11rem; top:0.11rem;}
@-webkit-keyframes bounce-circle {
0%{ opacity:0; filter:alpha(opacity=0); -webkit-transform:scale(1); transform:scale(1)}
20%{ opacity:1; filter:alpha(opacity=100);}
80%,100% { opacity:0; filter:alpha(opacity=0); -webkit-transform:scale(1.3); transform:scale(1.3)}}

/* 产品 */
.cpbox{ width:7.5rem; padding:0 0 0.2rem 0;}
.fl{ width:7.4rem; padding:0 0.05rem; margin:0.4rem 0 0 0; overflow:hidden;}
.fl li{ width:1.65rem; font-size:.28rem; line-height:0.7rem; text-align:center; margin:0 0.1rem; float:left;}
.fl li a{ height:0.7rem; display:block;}
.cpcc{ margin:0.4rem 0 0 0; overflow:hidden;}
.cpcc li{ width:3.55rem; margin:0 0.1rem; overflow:hidden; float:left;}
.cpcc li .tu{ width:3.55rem; height:2.83rem; overflow:hidden;}
.cpcc li .tu img{ width:3.55rem; height:2.83rem;}
.cpcc li .ti{ text-align:center; line-height:0.8rem; font-size:.28rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.cpcc li:hover a{ display:block; text-decoration:none;}
.cpcc li:hover a img{ width:3.55rem; height:2.83rem;}

/* 简介 */
.usbox{ width:7.5rem; padding:0 0 0.2rem 0; overflow:hidden;}
.uscc{ font-size:.28rem; padding:0 0.2rem; line-height:0.6rem; overflow:hidden;}
.ustu{ width:7.1rem; padding:0.2rem; margin:0 0 0.2rem 0; overflow:hidden;}
.ustu-l{ width:3.4rem; height:4.6rem; overflow:hidden; float:left;}
.ustu-l li{ width:3.45rem; height:2.15rem; position:relative; margin:0 0 0.3rem 0; overflow:hidden;}
.ustu-l li img{ width:3.45rem; height:2.15rem;}
.ustu-l-wz{ width:1rem; height:0.9rem; padding:0.1rem 0 0 0; text-align:center; position:absolute; left:0; top:0;}
.ustu-l-wz h1{ font-size:.24rem;}
.ustu-l-wz h2{ font-size:.28rem;}

.ustu-r{ width:3.4rem; height:4.6rem; overflow:hidden; float: right;}
.ustu-r li{ width:3.45rem; height:2.15rem; position:relative; margin:0 0 0.3rem 0; overflow:hidden;}
.ustu-r li img{ width:3.45rem; height:2.15rem;}
.ustu-r-wz{ width:1rem; height:0.9rem; padding:0.1rem 0 0 0; text-align:center; position:absolute; left:0; top:0;}
.ustu-r-wz h1{ font-size:.24rem;}
.ustu-r-wz h2{ font-size:.28rem;}


/* 新闻动态 */
.newsbox{ width:100%; padding:0 0 0.2rem 0; overflow:hidden;}
.newscc{ position:relative; overflow:hidden; margin:0.2rem auto 0.1rem auto;}
.newscc li{ width:3.55rem; height:3.03rem; margin:0.2rem 0.1rem 0.1rem 0.1rem; float:left;}
.newscc li .pic{ width:3.55rem; height:1.82rem; display:block; overflow:hidden;}
.newscc li .pic img{ width:3.55rem; height:1.82rem;}
.newscc li:hover .pic img{ width:3.55rem; height:1.82rem;}
.newscc li .title{ padding:0.1rem 0; overflow:hidden;}
.newscc li .title{ font-size:.28rem; line-height:0.5rem; text-align:center; overflow:hidden;}

/* 案例 */
.albox{ width:7.5rem; padding:0 0 0.2rem 0; overflow:hidden;}
.alcc{ margin:0.4rem 0 0 0; overflow:hidden;}
.alcc li{ width:3.55rem; margin:0 0.1rem; overflow:hidden; float:left;}
.alcc li .tu{ width:3.55rem; height:2.83rem; overflow:hidden;}
.alcc li .tu img{ width:3.55rem; height:2.83rem;}
.alcc li .ti{ text-align:center; line-height:0.8rem; font-size:.28rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.alcc li:hover a{ display:block; text-decoration:none;}
.alcc li:hover a img{ width:3.55rem; height:2.83rem;}

/* 底部 */
.copyright{ font-size:.28rem; height:0.6rem; line-height:0.6rem; text-align:center; margin:0 0 1rem 0;}
.foot{ width:7.5rem; height:1rem; bottom:0; position:fixed; bottom:0; z-index:200;}
.foot ul{ overflow:hidden;}
.foot li{ width:25%; font-size:.28rem; line-height:0.5rem; float:left;}
.foot li a { display:block; text-align:center; text-decoration:none; padding:0.15rem 0 0 0;}
.foot li a i{ width:0.6rem; height:0.37rem; display:block; overflow:hidden; margin:0 auto;}
.foot li a i img{ max-width:0.6rem; max-height:0.37rem;}

/* 内页 */
.n-banner{ width:7.5rem; height:2.2rem; padding:1rem 0 0 0; position:relative;}
.n-banner i{ height:2.2rem; display:block;}

.ntit{ width:7.1rem; height:0.8rem; line-height:0.8rem; font-size:.28rem; padding:0 0.2rem; overflow:hidden; position:absolute; left:0; bottom:0;}
.ntt{ padding:0 0 0 0.3rem; overflow:hidden;}
.ntt h1{ font-size:.35rem; line-height:0.8rem; margin:0 0.15rem 0 0; float:left;}
.ntt i{ font-size:.35rem; height:0.8rem; line-height:0.8rem; float:left;}

.n-box{ overflow:hidden;}

.nfl{ padding:0 0 0.3rem 0; text-align:center; overflow:hidden;}
.nfl li{ font-size:.32rem; text-align:center; margin:0.3rem 0 0 0.3rem; float:left;}
.nfl a{ width:2.08rem; line-height:0.7rem; display:block; text-decoration:none;}
.nfl .on a{ text-decoration:none;}

.nrwz{ font-size:.28rem; padding:0.1rem 0.2rem; line-height:0.6rem; overflow:hidden;}
.nrwz img{ width:100%; margin:0.1rem 0;}

.fy{ width:7.1rem; padding:0.15rem 0.2rem; overflow:hidden;}
.fy li{ font-size:.28rem; line-height:0.5rem;}
.fy li.return{ float:right}
.fy li img{ width:0.32rem; height:0.32rem; margin:0.1rem 0.2rem 0 0.58rem;}

.page{ text-align:center; padding:0.2rem 0; font-size:.28rem; overflow:hidden;}
.page a{ padding:0.1rem 0.3rem; margin:0 0.1rem; border-radius:4px; display:inline-block;}

.x-tit{ font-size:.28rem; line-height:0.6rem; text-align:center; padding:0.1rem 0 0.2rem 0; margin:0 0 15px 0;}
.x-tit h1{ font-size:.35rem; font-weight:bold;}

.n-news{ width:7.3rem; margin:0.3rem 0.1rem;}
.n-news li{ padding:0.2rem; margin:0.3rem 0; overflow:hidden;}
.n-news li:hover a{ display:block; text-decoration:none; overflow:hidden;}
.n-news li .netu{ width:2.53rem; height:1.4rem; margin:0 0.2rem 0 0; overflow:hidden; float:left;}
.n-news li .netu img{ width:2.53rem; height:1.4rem; display:block;}
.n-news li .newz{ width:4.12rem; height:1.4rem; font-size:.28rem; line-height:0.5rem; overflow:hidden; float:left;}
.n-news li .newz h1{ font-size:.3rem;}
.n-news li .newz a{ text-decoration:none;}

/*content*/
.content{ margin-top: .1rem;margin-bottom: 0; padding: .2rem ;overflow: hidden;text-align: left; font-size: .28rem!important; line-height: 160%; background: #fff;}
.content table{ width:100%!important}
.content table td{ padding:5px 10px;}
.content h1{ font-size: .32rem; font-weight: normal; text-align: center; color: #000;  border-bottom:1px solid #eee; margin-bottom: 10px; padding:.1rem; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.content img,.contentct img{max-width:100%; text-align: center;}


.loginbox input{ width:100%; border-radius:4px; border:1px solid #f2f2f2; padding:5px 0px; text-indent:5px; color:#CCC; margin-top:10px;}
.loginbox input.login{ background-color:#4C9418; color:#fff; padding:0; height:36px; line-height:36px; border-radius:20px; cursor:pointer; border:0 none;margin-top:15px; text-indent:0;}
.loginbox2 input{border:1px solid #dedede;}
.loginbox a.regest,.loginbox input.regest{ display:block;padding:0;border:0 none; font-size:12px; background-color:#8cc21b; color:#fff; text-align:center; height:36px; line-height:36px;margin-top:10px; border-radius:20px; cursor:pointer}
.text_qs2{ width: 100%;height: 150px;  border-radius:4px; border:1px solid #f2f2f2; padding:5px 0px; box-sizing: border-box;margin-top:10px;}