<div class="copyright">{eyou:global name='web_copyright' /}</div>
<div class="foot">
  <ul>
    <li><a href="{eyou:global name='web_cmsurl' /}/"><i><img src="{eyou:global name='web_templets_m' /}/skin/img/sy.png" alt=""/></i> 网站首页</a></li>
    <li><a href="tel:{eyou:global name='web_attr_1' /}"><i><img src="{eyou:global name='web_templets_m' /}/skin/img/tel.png" alt=""/></i> 拨打电话</a></li>
    <li><a href="sms:{eyou:global name='web_attr_3' /}"><i><img src="{eyou:global name='web_templets_m' /}/skin/img/dx.png" alt=""/></i> 短信咨询</a></li>
    {eyou:type typeid='5'}
    <li><a href="{$field.typeurl}"><i><img src="{eyou:global name='web_templets_m' /}/skin/img/map.png" alt=""/></i> 地图导航</a></li>
    {/eyou:type}
  </ul>
</div>
{eyou:global name='web_thirdcode_wap' /} 
<!-- 应用插件标签 start --> 
{eyou:weapp type='default' /} 
<!-- 应用插件标签 end -->