<div class="menu">
  <ul>
    <li><a href="{eyou:global name='web_cmsurl' /}/">网站首页</a></li>
    {eyou:channel type="top" row="9" id="field"}
    <li><a href="{$field.typeurl}">{$field.typename}</a></li>
    {/eyou:channel}
  </ul>
</div>