<div class="topbox clearfix">
        <div class="logo"><a href="{eyou:global name='web_cmsurl' /}"><img src="{eyou:global name='web_attr_2' /}" alt=""/></a></div>
        <div class="mm"><a href="#"><img src="{eyou:global name='web_templets_m' /}/skin/img/menuioc.png" alt=""/></a></div>
        <script type="text/javascript">
$(document).ready(function() {
    var flbox = $('.mm');
    nav = $('.menu');
    box = $('.boxbg');
    flbox.click(function() {
            box.animate({right:'50%'},'500');
			nav.animate({right:'0px'},'500');
			$('.menu').css("display", "block");
			$('.menubg').css("display", "block");
			 return; 

    });
	$('.menubg').click(function()
								   {
									 box.animate({right:'0'},'500');
									 nav.animate({right:'-50%'},'500');
									 $(this).hide();
              return; 
									   
									   }
								   
								   )
		
	
});
</script> 
    </div>
    <div class="n-banner">
        <div class="ntit">
            <div class="ntt">
                <h1>{$eyou.field.typeid|gettoptype=###,'typename'}</h1>
                <i>{$eyou.field.typeid|gettoptype=###,'englist_name'}</i> </div>
        </div>
        <i style=" background:url({eyou:global name='web_attr_4' /}) center no-repeat; background-size:100%;"></i> </div>
