<div class="foot"> <a href="{eyou:global name='web_cmsurl' /}/" class="font3">首页</a>
  {eyou:channel type="top" row="6" id="field" currentstyle="on"} 
   · <a href="{$field.typeurl}" class="font3">{$field.typename}</a>
  {/eyou:channel} 
  <br />
  <hr />
  客服热线：{eyou:global name='web_attr_1' /}<br />
  &copy; {eyou:global name='web_copyright' /}<br />
  {eyou:global name='web_recordnum' /}</div>
{eyou:global name='web_thirdcode_pc' /} 
<!-- 应用插件标签 start --> 
{eyou:weapp type='default' /} 
<!-- 应用插件标签 end -->