<div class="header">
  <div class="logo fd"><a href="{eyou:global name='web_cmsurl' /}/"><img src="{eyou:global name='web_logo' /}" /></a><span class="s2 s1">{eyou:global name='web_name' /}</span></div>
  <div class="menu">
    <ul>
      <li><a href="{eyou:global name='web_cmsurl' /}/" class="{eyou:eq name='$Think.const.CONTROLLER_NAME' value='Index'}s2 s4{/eyou:eq}">首页</a></li>
      {eyou:channel type="top" row="6" id="field" currentstyle="s2 s4"}
      <li><a href="{$field.typeurl}"  class="{$field.currentstyle}">{$field.typename}</a></li>
      {/eyou:channel}
    </ul>
  </div>
</div>
