{include file="public/layout" /}

<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>频道模型列表</h3>
                <h5>(共{$pageObj->totalRows}条数据)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <div class="sDiv">
                {eq name="'Field@arctype_index'|is_check_access" value="1"}
                    <div class="fbutton" style="float: none;">
                          <a href="{:url('Field/arctype_index')}">
                              <div class="add">
                                  <span><i class="fa fa-cogs"></i>栏目字段管理</span>
                              </div>
                          </a>
                    </div>
                {/eq}
            </div>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                    <tr>
                        <th abbr="article_title" axis="col3" class="w40">
                            <div class="tc">ID</div>
                        </th>
                        <th abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; padding-left: 10px;" class="">模型名称</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w120">
                            <div class="tc">模型标识</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w50">
                            <div class="tc">启用</div>
                        </th>
                        <th axis="col1" id="th_handle" class="w160">
                            <div class="tc">操作</div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%;">
                    <tbody>
                    {empty name="list"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                            </td>
                        </tr>
                    {else/}
                        {foreach name="list" item="vo" key="k" }
                        <tr>
                            <td class="sort">
                                <div class="tc w40">
                                    {$vo.id}
                                </div>
                            </td>
                            <td class="" style="width: 100%;">
                                <div class="tl" style="padding-left: 10px;">
                                    {eq name="'Channeltype@edit'|is_check_access" value="1"}
                                    <a href="{:url('Channeltype/edit',array('id'=>$vo['id']))}">{$vo.title}</a>
                                    {else /}
                                    {$vo.title}
                                    {/eq}
                                </div>
                            </td>
                            <td class="">
                                <div class="w120 tc">{$vo.nid}</div>
                            </td>
                            <td>
                                <div class="tc w50">
                                {eq name="'Channeltype@edit'|is_check_access" value="1"}
                                    {if condition="$vo['status'] eq 1"}
                                        <span class="yes" data-id="{$vo.id}" data-status="{eq name='$vo.status' value='1'}0{else /}1{/eq}" data-title="{$vo.title}" onClick="handleShow(this);"><i class="fa fa-check-circle"></i>是</span>
                                    {else /}
                                        <span class="no" data-id="{$vo.id}" data-status="{eq name='$vo.status' value='1'}0{else /}1{/eq}" data-title="{$vo.title}" onClick="handleShow(this);"><i class="fa fa-ban"></i>否</span>
                                    {/if}
                                {else /}
                                    {if condition="$vo['status'] eq 1"}是{else /}否{/if}
                                {/eq}
                                </div>
                            </td>
                            <td class="">
                                <div class="tl {empty name="$vo.ifsystem"}w230{else /}w160{/empty}">
                                    {eq name="'Channeltype@edit'|is_check_access" value="1"}
                                        {eq name="$vo.nid" value="guestbook"}
                                        &nbsp;&nbsp;&nbsp;———
                                        {else /}
                                        <a href="{:url('Channeltype/edit',array('id'=>$vo['id']))}" class="btn blue"><i class="fa fa-pencil-square-o blocki"></i>编辑</a>
                                        {/eq}
                                    {/eq}

                                    {eq name="'Channeltype@edit'|is_check_access" value="1"}
                                        {eq name="$vo.nid" value="guestbook"}
                                        &nbsp;&nbsp;&nbsp;&nbsp;—————
                                        {else /}
                                        <a href="{:url('Field/channel_index',array('channel_id'=>$vo['id']))}" class="btn blue"><i class="fa fa-code blocki"></i>内容字段</a>
                                        {/eq}
                                    {/eq}

                                    {empty name="$vo.ifsystem"}
                                        {eq name="'Channeltype@del'|is_check_access" value="1"}
                                        <a class="btn red"  href="javascript:void(0);" data-url="{:url('Channeltype/del')}" data-id="{$vo.id}" data-deltype="pseudo" onClick="delfun(this);"><i class="fa fa-trash-o blocki"></i>删除</a>
                                        {/eq}
                                        <script type="text/javascript">
                                            $(function(){
                                                $('#th_handle').removeClass('w160').addClass('w230');
                                            });
                                        </script>
                                    {/empty}
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                        {/foreach}
                    {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                {eq name="'Channeltype@add'|is_check_access" value="1"}
                <div class="fbutton">
                    <a href="{:url('Channeltype/add')}">
                        <div class="add" title="新增模型">
                            <span class="red"><i class="fa fa-plus"></i>新增模型</span>
                        </div>
                    </a>
                </div>
                {/eq}
            </div>
            <div style="clear:both"></div>
        </div>
        <!--分页位置-->
        {$pageStr}
    </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });

    function delfun(obj){
        var title = '<font color="#ff0000">重要提示！</font>';
        layer.confirm('<font color="#ff0000">此操作将会删除与该模型所有相关的数据且不可恢复，请谨慎操作！</font>是否确认删除？', {
            title: false,
            btn: ['确定','取消'] //按钮
        }, function(){
            layer_loading('正在处理');
            // 确定
            $.ajax({
                type : 'post',
                url : $(obj).attr('data-url'),
                data : {del_id:$(obj).attr('data-id'), _ajax:1},
                dataType : 'json',
                success : function(data){
                    layer.closeAll();
                    if(data.code == 1){
                        layer.msg(data.msg, {icon: 1});
                        window.location.reload();
                    }else{
                        layer.alert(data.msg, {icon: 2, title:false});  //alert(data);
                    }
                }
            })
        }, function(index){
          layer.close(index);
        });
      return false;
    }

    function handleShow(obj){
        var title = $(obj).attr('data-title');
        $.ajax({
            type : 'post',
            url : "{:url('Channeltype/ajax_show')}",
            data : {id:$(obj).attr('data-id'),status:$(obj).attr('data-status'), _ajax:1},
            dataType : 'json',
            success : function(res){
                if (res.code == 1) {
                    if (0 == res.data.confirm) {
                        layer.msg(res.msg, {icon: 1, time:500}, function(){
                            window.location.reload();
                        });
                    } else {
                        var confirm = layer.confirm(res.msg, {
                            title: false,
                            btn: ['启用','取消'] //按钮
                        }, function(index){
                            layer.close(index);
                            layer_loading('正在处理');
                            // 确定
                            $.ajax({
                                type : 'post',
                                url : "{:url('Channeltype/ajax_check_tpl')}",
                                data : {id:$(obj).attr('data-id'),status:$(obj).attr('data-status'),tpltype:res.data.tpltype, _ajax:1},
                                dataType : 'json',
                                success : function(res){
                                    layer.closeAll();
                                    if(res.code == 1){
                                        layer.msg(res.msg, {icon: 1, time: 500}, function(){
                                            window.location.reload();
                                        });
                                    }else{
                                        layer.alert(res.msg, {icon: 2, title:false});
                                    }
                                }
                            })
                        });
                    }
                } else {
                    layer.alert(res.msg, {icon: 2, title:false});
                }
            },
            error:function(){
                layer.alert(ey_unknown_error, {icon: 2, title:false});
            }
        });
    }
</script>

{include file="public/footer" /}